<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Saas Template" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Saas Template">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-base-200 text-base-content min-h-screen flex flex-col">
    <%= render "shared/navbar" unless content_for?(:hide_navbar) %>

    <%= render "shared/flash" %>

    <main class="flex-1 flex flex-col">
      <%= yield %>
    </main>

    <%= render "shared/footer" unless content_for?(:hide_footer) %>
  </body>
</html>
